// Font sizes
$html-font-size: 18px !default;

//$alternative-color: #c84e00;
//$alternative-color: #FF84E8;
//$alternative-color: #98C1D9;
//$alternative-color: #7B287D;
$alternative-color: #05a6a3;
$alternative-color-dark: darken($alternative-color, 5%);

//$dt-primary-color: #c3b9fd;
//$dt-primary-color: #a197ea;
$o-color: hsl(241, 63%, 49%);
$dt-primary-color: hsl(241, 90%, 83%);
$dt-primary-color: #bcbcff;
$dt-primary-color: hsl(241, 96%, 82%);
//$dt-alternative-color: #12bebb;
//$dt-alternative-color: #7dc8c6;
$dt-alternative-color: #64c6c3;
$dt-alternative-color-dark: lighten($alternative-color, 10%);

$dt-background-color: hsl(240, 31%, 10%);
$dt-background-color-light: lighten($dt-background-color, 5%);
$dt-border-color: #7a7a7a;

$dt-body-font-color: #acb7c3;
$dt-body-font-color-light: lighten($dt-body-font-color, 15%);

$dt-gray-color: #8f9cbf;
$dt-gray-color-dark: lighten($dt-gray-color, 10%);


$dt-link-color: $dt-primary-color;
$dt-link-color-light: $dt-link-color;
//$dt-link-color-light: lighten($dt-primary-color, 8%);

// Import Spectre CSS lib
@import "../../node_modules/spectre.css/src/spectre";
@import "../../node_modules/spectre.css/src/autocomplete";
// Import Spectre icons
@import "../../node_modules/spectre.css/src/icons/icons-core";
@import "../../node_modules/spectre.css/src/icons/icons-navigation";
@import "../../node_modules/spectre.css/src/icons/icons-action";
@import "../../node_modules/spectre.css/src/icons/icons-object";


// Import style modules
@import "base";
@import "util";
@import "shared";
@import "bookmarks";
@import "settings";
@import "auth";
@import "dark";
