{% extends "bookmarks/layout.html" %}
{% load static %}
{% load shared %}
{% load bookmarks %}

{% block content %}

    <input id="bulk-edit-mode" type="checkbox">

    <div class="bookmarks-page columns">

        {# Bookmark list #}
        <section class="content-area column col-8 col-md-12">
            <div class="content-area-header">
                <h2>Bookmarks</h2>
                <div class="spacer"></div>
                {% bookmark_search query tags %}
                <label for="bulk-edit-mode" class="hide-sm">
                    <span class="btn" title="Bulk edit">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="20px"
                             height="20px">
                            <path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"/>
                        </svg>
                    </span>
                </label>
            </div>

            <form class="bulk-edit-form" action="{% url 'bookmarks:bulk_edit' %}?return_url={{ return_url }}" method="post">
                {% csrf_token %}
                <div class="bulk-edit-bar">
                    <div class="bulk-edit-actions bg-gray">
                        <label class="form-checkbox bulk-edit-all-toggle">
                            <input type="checkbox" style="display: none">
                            <i class="form-icon"></i>
                        </label>
                        <button type="submit" name="bulk_archive" class="btn btn-link btn-sm btn-confirmation">Archive
                        </button>
                        <button type="submit" name="bulk_delete" class="btn btn-link btn-sm btn-confirmation">Delete
                        </button>
                        <button type="submit" name="bulk_tag" class="btn btn-link btn-sm">Tag with:
                        </button>
                        <select class="form-select select-sm">
                            {% for tag in tags %}
                            <option value="{{ tag.name }}">{{ tag.name }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" name="bulk_untag" class="btn btn-link btn-sm">Remove tag:
                        </button>
                        <select class="form-select select-sm">
                            {% for tag in tags %}
                            <option value="{{ tag.name }}">{{ tag.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                {% if empty %}
                    {% include 'bookmarks/empty_bookmarks.html' %}
                {% else %}
                    {% bookmark_list bookmarks return_url %}
                {% endif %}
            </form>
        </section>

        {# Tag list #}
        <section class="content-area column col-4 hide-md">
            <div class="content-area-header">
                <h2>Tags</h2>
            </div>
            {% tag_cloud tags %}
        </section>
    </div>

    <script src="{% static "bundle.js" %}"></script>
    <script src="{% static "shared.js" %}"></script>

    <script type="application/javascript">
        (function () {
            const singleToggles = document.querySelectorAll('.bulk-edit-toggle input')
            const allToggle = document.querySelector('.bulk-edit-all-toggle input')

            function isAllSelected() {
                let result = true

                singleToggles.forEach(function (toggle) {
                    result = result && toggle.checked
                })

                return result
            }

            function selectAll() {
                singleToggles.forEach(function (toggle) {
                    toggle.checked = true
                })
            }

            function deselectAll() {
                singleToggles.forEach(function (toggle) {
                    toggle.checked = false
                })
            }

            // Toggle all
            allToggle.addEventListener('change', function (e) {
                if (e.target.checked) {
                    selectAll()
                } else {
                    deselectAll()
                }
            })

            // Toggle single
            singleToggles.forEach(function (toggle) {
                toggle.addEventListener('change', function () {
                    allToggle.checked = isAllSelected()
                })
            })
        })()
    </script>
{% endblock %}
